* {
  font-family: Helvetica, sans-serif;
}

body {
  margin: 0;
}

.sectionPadding {
  padding: 60px 0;
}

.spacing {
  margin: 30px auto;
}

.fullWidth {
  width: 100%;
}

.border {
  border-right: 1px solid lightgrey;
}

.flexBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.error {
  color: red;
}
